SolidWorks/Assem2.SLDASM
SolidWorks/Assem2.pdf
Requirements/Project Requirements2
Documentation/Motor_Mount_Project_Report.docx.docx
Images/Assem2.JPG
Images/Assem2explode.JPG
Images/AssemExplode.JPG
Images/Motor_Mount_Adjustment_Closeup.JPG
Images/AssemExplode2.SLDASM
Images/NEMA 17 Bipolar Stepper Motor, 42.3×38 mm.jpg
**/.gitkeep
Drawings/Base_Plate_Drawing_OLD.SLDDRW
Drawings/Motor_Plate_Drawing_OLD.SLDDRW
Drawings/Motor_Mount_Assembly_Drawing_OLD.SLDDRW
Requirements/Project Requirements - Hebrew.docx
Requirements/Project Requirements - Hebrew.pdf
Requirements/Project Requirements2
Requirements/Project Requirements - OLD.docx
Documentation/Motor_Mount_Final_Report_Hebrew.docx
Documentation/Motor_Mount_Final_Report_Hebrew.pdf
Calculations/Motor Mount Calculations - Hebrew.docx
Calculations/Motor Mount Calculations - Hebrew.pdf
BOM/Motor_Mount_BOM_Hebrew.csv
BOM/Motor_Mount_BOM_Hebrew.xlsx